# .NET build and system files
bin/
obj/
*.vs/

# VS Code settings
.vscode/

# Test results
TestResults/

# Mac system files
.DS_Store

# Logs
*.log

# NuGet packages
*.nupkg

# Generated SpecFlow files
*.feature.cs

# Environment files
.env

# Ignore appsettings secrets (if any)
appsettings.*.json
!appsettings.json

#Test reports 
*.html
